
body{
	background: #EDEEED;
	.index-model {
		width: 100%;
		height: 100%;
		position: fixed;
		top: -20px;
		left: -20px;
		.dag-model {
			height: 100% !important;
		}
	}
	.home-main {
		min-height: calc(100vh - 100px);
		background: #fff;
		margin: 20px;
		border-radius: 3px;
		.content-title {
			height: 48px;
			background: #f8fbfe;
			border-radius: 3px 3px 0 0;
			span {
				font-size: 22px;
				padding-left: 18px;
				padding-top: 10px;
				display: inline-block;
				color: #2A455B;
			}
		}
		.conditions-box {
			//background: #f8fbfe;
		}
		.conditions-model {
			height: 50px;
			position: relative;
			.left {
				position: absolute;
				left: 12px;
				top: 13px;
			}
			.right {
				position: absolute;
				right: 8px;
				top: 13px;
				.form-box {
					.list {
						float: right;
						margin-right: 4px;
					}
				}
			}
		}
	}
}